<div class="container">
  <div class="top-message col-md-offset-3 col-sm-6">
    <h1>welcome to <i class="glyphicon glyphicon-book" aria-hidden="true"></i>Bookers !!</h1>
      <p>In <i class="glyphicon glyphicon-book" aria-hidden="true"></i>
        <strong>Bookers</strong>,</p>
  </div>
</div>